.but1{
    margin-left: 0%;
    margin-right: auto;
    display: block;
    font-weight: 300;
    color: #f2f7fb;
    text-decoration: underline none;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 20%;
    box-shadow:  0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    font-family: inherit;
}