#name{
    color: brown;
}
.box{
    text-align: center;
    width: 20%;
    margin: auto;
    border: none;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 1px;
    display: block;
    padding: 20px;
}
#imag{
    width: 70%;
    border: none;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 1px ;
    background-size: cover;
}